@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(images/me_fijn.png);
    height: 100%;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
}

a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
label{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
}
span{
    color: white;
}
.wrapper img{
    width: 300px;
    border-radius: 5px;
    position: relative;
    margin-top: 5000px;
    margin-bottom: 200px;
}